<html>
<head>
  <meta charset="utf-8">
  <title>HAIR SOS</title>
  <link rel="shortcut icon" href="favicon.ico"/>
  <link href="static/css/bootstrap.css" rel="stylesheet" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
  <script src="jquery.js"></script>
</head>
  
<body>
  
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HairSOS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse">
          
          <form class="navbar-form navbar-right" role="form">
            
            <div class="form-group">
            {% if not user %}
              Login:
              <!-- <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div> -->
            
              <a class="btn btn-success" href="{{sign_in_url}}">Sign in</a>
            {% else %}
              <a class="btn" href="professional"> Create a Hairdresser Profile </a>
              <a class="btn btn-success" href="{{sign_out_url}}"> Sign Out</a>
            {% endif %}
          </div>
          </div>
          </form>
    </div><!--/.navbar-collapse -->
    
      </div>
</nav>

<div>

  {% block content %} {% endblock %}

</div>

</body>
</html>