{% extends "headnav.html" %}
{% block content %}
  <header>
    <h1>Hair<strong><em>SOS</em></strong></h1>
    <div class="page-header">
  <h2>Get trusted advice: <small>What are you looking for?</small></h1>
</div>
  <form action="/maps" method="post">
    <p><input type="text" name="location" placeholder="Where do you want to look?"></p>
    <p><button name="search_type" class="btn btn-default btn-lg" role="button" action="/maps">Beauty Stylist</button>
      <button name="search_type" class="btn btn-primary btn-lg" role="button" action="/maps">Barber</button></p>
  </header>
{% endblock %}