<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>HAIR SOS</title>
  <link rel="shortcut icon" href="favicon.ico"/>
  <link href="style.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="jquery.js"></script>
</head>
  
<body>
  
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HairSOS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              Login:
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Register <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="user.html">Create a Reviewer Profile</a></li>
    <li><a href="professional.html">Create a Hairdresser Profile</a></li>
  </ul>
</div>
          </form>
    </div><!--/.navbar-collapse -->
    
      </div>
</nav>
  
  <header>
    <h1>Hair<strong><em>SOS</em></strong></h1>
    <div class="page-header">
  <h2>Get trusted advice: <small>What are you looking for?</small></h1>
</div>
    <p><a class="btn btn-default btn-lg" role="button" href="/search">Beauty Stylist</a>
      <a class="btn btn-primary btn-lg" role="button" href="/search">Barber</a></p>
  </header>

</body>
</html>